{% extends 'base.html.twig' %}

{% block title %}{{ "event.detail.title"|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <div class="text-center">
        <div class="">
            <h1>{{ event.name }}</h1>
        </div>
        <div class="bg-detail text-dark text-left">
            <span class="font-weight-bold">{{ "event.detail.date.event"|trans }}</span>
            <div class="">
                {{ event.dateDebut | date("d/m/Y H:i") }}
            </div>
            <span class="font-weight-bold">{{ "event.detail.date.cloture"|trans }}</span>
            <div class="">
                {{ event.dateCloture | date("d/m/Y H:i") }}
            </div>
            <span class="font-weight-bold">{{ "event.detail.inscriptions"|trans }}</span>
            <div class="">
                {{ event.inscriptionsMax }}
            </div>
            <span class="font-weight-bold">{{ "event.detail.duration.label"|trans }}</span>
            <div class="">
                {{ event.duration }} {{ "event.detail.duration.unit"|trans }}
            </div>
            <span class="font-weight-bold">{{ "event.detail.description"|trans }}</span>
            <div class="">
                {{ event.description }}
            </div>
            <span class="font-weight-bold">{{ "event.detail.site"|trans }}</span>
            <div class="">
                {{ event.site.name }}
            </div>
            <span class="font-weight-bold">{{ "event.detail.location"|trans }}</span>
            <div class="">
                {{ event.lieu.name }}
            </div>
            <span class="font-weight-bold"></span>
            <div class="">
                {{ event.lieu.street }}
            </div>
            <span class="font-weight-bold">{{ "event.detail.postalCode"|trans }}</span>
            <div class="">
                {{ event.lieu.city.postalCode }}
            </div>
            <span class="font-weight-bold">{{ "event.detail.city"|trans }}</span>
            <div class="">
                {{ event.lieu.city.name }}
            </div>
            <span class="font-weight-bold"></span>
            <div class="">
                {{ event.lieu.latitude }}
            </div>
            <span class="font-weight-bold"></span>
            <div class="">
                {{ event.lieu.longitude }}
            </div>
            <span class="font-weight-bold">{{ "event.detail.participant.header.title"|trans }}</span>
            <table id="table" class="table table-striped table-bordered display responsive nowrap" style="width:100%">
                <thead>
                    <th>{{ "event.detail.participant.header.pseudo"|trans }}</th>
                    <th>{{ "event.detail.participant.header.name"|trans }}</th>
                </thead>
                {% for subscription in event.subscriptions %}
                    <tr>
                        <td>{{ subscription.participant.username }}</td>
                        <td>{{subscription.participant.name}} {{subscription.participant.firstName}}</td>
                    </tr>
                {% endfor %}
            </table>

            {% for action, detail in actions %}
                <button id="{{ action }}" data-url="{{ detail.link }}" data-ajax="{{ detail.ajax }}">{{ detail.name }}</button>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/event/detail.js") }}"></script>
{% endblock %}