{% extends 'base.html.twig' %}

{% block title %}{{ "event.edit.title"|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="bg-detail text-left w-30">
        <h3>{{ "event.edit.title"|trans }}</h3>
        {{ form_start(formEvent) }}
        <div class="input-group  mt-3">
            {{ form_label(formEvent.name) }}
            <div class="input-group">
                {{ form_widget(formEvent.name) }}
            </div>
        </div>
        <div class="mt-3">
            {{ form_label(formEvent.dateDebut) }}
            <div class="input-group">
                {{ form_widget(formEvent.dateDebut) }}
                {{ form_widget(formEvent.heureDebut) }}
            </div>
        </div>
        <div class="input-group mt-3">
            {{ form_label(formEvent.duration) }}
            <div class="input-group">
                {{ form_widget(formEvent.duration) }}
            </div>

        </div>
        <div class="input-group mt-3">
            {{ form_label(formEvent.dateCloture) }}
            <div class="input-group">
                {{ form_widget(formEvent.dateCloture) }}
                {{ form_widget(formEvent.heureCloture) }}
            </div>

        </div>
        <div class="input-group mt-3">
            {{ form_label(formEvent.inscriptionsMax) }}
            <div class="input-group">
                {{ form_widget(formEvent.inscriptionsMax) }}
            </div>

        </div>
        <div class="input-group mt-3">
            {{ form_label(formEvent.description) }}
            <div class="input-group">
                {{ form_widget(formEvent.description) }}
            </div>

        </div>
        <div class="input-group mt-3">
            {{ form_label(formEvent.lieu) }}
            <div class="input-group">
                {{ form_widget(formEvent.lieu) }}

            </div>
        </div>
        {{ form_widget(formEvent) }}
        <input type="submit" class="btn btn-primary mb-3 mt-3" value="{{ "event.edit.confirm"|trans }}"/>
        {{ form_end(formEvent) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let dateDebut = "{{ event.dateDebut|json_encode|e('js') }}";
        let dateCloture = "{{ event.dateCloture|json_encode|e('js') }}";
    </script>
    <script src="{{ asset("js/event/edit.js") }}"></script>
{% endblock %}

