{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie | {{ parent() }}{% endblock %}

{% block body %}
    <div class="bg-detail text-left w-30">
        <h3>Creer une sortie </h3>
        {{ form_start(form) }}
        <div class="input-group  mt-3">
            {{ form_label(form.name) }}
            <div class="input-group">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="mt-3">
            {{ form_label(form.dateDebut) }}
            <div class="input-group">
                {{ form_widget(form.dateDebut) }}
                {{ form_widget(form.heureDebut) }}
            </div>
        </div>
        <div class="input-group mt-3">
            {{ form_label(form.duration) }}
            <div class="input-group">
                {{ form_widget(form.duration) }}
            </div>

        </div>
        <div class="input-group mt-3">
            {{ form_label(form.dateCloture) }}
            <div class="input-group">
                {{ form_widget(form.dateCloture) }}
                {{ form_widget(form.heureCloture) }}
            </div>

        </div>
        <div class="input-group mt-3">
            {{ form_label(form.inscriptionsMax) }}
            <div class="input-group">
                {{ form_widget(form.inscriptionsMax) }}
            </div>

        </div>
        <div class="input-group mt-3">
            {{ form_label(form.description) }}
            <div class="input-group">
                {{ form_widget(form.description) }}
            </div>

        </div>
        <div class="input-group mt-3">
            {{ form_label(form.lieu) }}
            <div class="input-group">
                {{ form_widget(form.lieu) }}

            </div>
        </div>
        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn btn-primary mb-3 mt-3 bgBleu">
        <a href="{{ path("default_index") }}" class="btn btn-primary mb-3 mt-3 bgBleu">Retour</a>
        {{ form_end(form) }}
    </div>

{% endblock %}