{% extends 'base.html.twig' %}

{% block title %}{{ "event.new.title"|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <h3>{{ "event.new.title"|trans }}</h3>
    {{ form_start(form) }}
    <div class="input-group  mt-3">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="input-group mt-3">
        {{ form_label(form.dateDebut) }}
        {{ form_widget(form.dateDebut) }}
        {{ form_widget(form.heureDebut) }}
    </div>
    <div class="input-group mt-3">
        {{ form_label(form.duration) }}
        {{ form_widget(form.duration) }}
    </div>
    <div class="input-group mt-3">
        {{ form_label(form.dateCloture) }}
        {{ form_widget(form.dateCloture) }}
        {{ form_widget(form.heureCloture) }}
    </div>
    <div class="input-group mt-3">
        {{ form_label(form.inscriptionsMax) }}
        {{ form_widget(form.inscriptionsMax) }}
    </div>
    <div class="input-group mt-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div class="input-group mt-3">
        {{ form_label(form.lieu) }}
        {{ form_widget(form.lieu) }}
    </div>
    {{ form_widget(form) }}
    <input type="submit" value="{{ "event.new.confirm"|trans }}" class="btn btn-primary mb-3 mt-3">
    <a href="{{ path("default_index") }}" class="btn btn-primary mb-3 mt-3">{{ "event.new.return"|trans }}</a>
    {{ form_end(form) }}
{% endblock %}