{% extends 'base.html.twig' %}

{% block title %}{{ "login.title"|trans }} {{ parent() }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ "login.title"|trans }}</h1>
    <label for="inputUsername" class="sr-only">{{ "login.username"|trans }}</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="{{ "login.username"|trans }}" required autofocus>
    <label for="inputPassword" class="sr-only">{{ "login.password"|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ "login.password"|trans }}" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me" checked>{{ "login.rememberme"|trans }}
        </label>
    </div>

    <p>
        {{ "login.article13.reminder" }}
        <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank">
            {{ "login.article13.learnmore"|trans }}
            <i class="fas fa-external-link-alt"></i>
        </a>
    </p>

    <button class="btn btn-lg btn-primary" type="submit">{{ "login.confirm"|trans }}</button>
</form>

<div id="modalArticle13" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ "login.article13.title"|trans }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ "login.article13.text"|trans }}</p>
            </div>
            <div class="modal-footer">
                <a id="learnmoreArticle13" href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank" type="button" class="btn btn-secondary">
                    {{ "login.article13.learnmore"|trans }}
                    <i class="fas fa-external-link-alt"></i>
                </a>
                <button id="confirmArticle13Modal" type="button" class="btn btn-primary">
                    {{ "login.article13.confirm"|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("js/security/login.js") }}"></script>
{% endblock %}
