{%  extends('base.html.twig') %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}

    <table id="table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Cloture</td>
            <td>inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
            {% for value in sortie %}
                <tr>
                    <td>{{ value['name'] }}</td>
                    <td>{{ value['dateDebut'] | date('d/m/Y') }}</td>
                    <td>{{ value['dateCloture'] | date('d/m/Y') }}</td>
                    <td>{{ value['nombreDeParticipant'] }}/{{ value['inscriptionsMax'] }}</td>
                    <td>{{ value['label'] }}</td>
                    {% if(value['Participation'] == '1' ) %}
                        <td>X</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ value['username']}}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>

    <div>
        <a href="{{ path("event_create") }}" class="btn btn-primary">Créer une sortie</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/pageAccueil.js") }}"></script>
{% endblock %}
