{%  extends('base.html.twig') %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(formEvent) }}
    <div class="row">
        <div class="col-md mt-3">
            {{ form_row(formEvent.site) }}
            {{ form_row(formEvent.dateMin) }}
            {{ form_row(formEvent.dateMax) }}
        </div>
        <div class="col-md mt-3">
            {{ form_row(formEvent.organisateur, {'attr': {'value':  app.user.username }}) }}
            {{ form_row(formEvent.inscrit) }}
            {{ form_row(formEvent.nInscrit) }}
            {{ form_row(formEvent.finie) }}
        </div>
    </div>
    {{ form_end(formEvent) }}




    <table id="table" class="table table-striped table-bordered display responsive nowrap" style="width:100%">
        <thead>
        <tr>
            <td>Nom de la sortie</td>
            <td >Date de la sortie</td>
            <td >Cloture</td>
            <td>inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Action</td>
            <td>Site</td>
        </tr>
        </thead>
        <tbody>
            {% for value in sortie %}
                <tr>
                    <td>{{ value['name'] }}</td>
                    <td id="fini">{{ value['dateDebut'] | date('d/m/Y') }}</td>
                    <td id="ffin">{{ value['dateCloture'] | date('d/m/Y') }}</td>
                    <td>{{ value['nombreDeParticipant'] }}/{{ value['inscriptionsMax'] }}</td>
                    <td>{{ value['state'] }}</td>
                    {% if(value['Participation'] == '1' ) %}
                        <td>X</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ value['username']}}</td>
                <td></td>
                <td>{{ value['site']}}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div>
        <a href="{{ path("event_create") }}" class="btn btn-primary">Créer une sortie</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/pageAccueil.js") }}">

    </script>
{% endblock %}
