{%  extends('base.html.twig') %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(formEvent) }}
    <div class="row">
        <div class="col-md mt-3">
            <div class="form-group row">
                {{ form_label(formEvent.site) }}
                <div class="col-sm-9">
                    {{ form_widget(formEvent.site) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(formEvent.dateMin) }}
                <div class="col-sm-9">
                    {{ form_widget(formEvent.dateMin)  }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(formEvent.dateMax) }}
                <div class="col-sm-9">
                    {{ form_widget(formEvent.dateMax) }}
                </div>
            </div>

        </div>
        <div class="col-md mt-3">
            <div class="form-group row">
                {{ form_label(formEvent.organisateur) }}
                <div class="col-sm-4">
                    {{ form_widget(formEvent.organisateur, {'attr': {'value':  app.user.username }}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(formEvent.inscrit) }}
                <div class="col-sm-4">
                    {{ form_widget(formEvent.inscrit) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(formEvent.nInscrit) }}
                <div class="col-sm-4">
                    {{ form_widget(formEvent.nInscrit) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(formEvent.finie) }}
                <div class="col-sm-4 align-bottom">
                    {{ form_widget(formEvent.finie) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(formEvent) }}




    <table id="table" class="table table-striped table-bordered display responsive nowrap" style="width:100%">
        <thead>
        <tr>
            <td>Nom de la sortie</td>
            <td >Date de la sortie</td>
            <td >Cloture</td>
            <td>inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Action</td>
            <td>Site</td>
        </tr>
        </thead>
        <tbody>
        {% for value in sortie %}
            <tr>
                <td>{{ value['name'] }}</td>
                <td id="fini">{{ value['dateDebut'] | date('d/m/Y') }}</td>
                <td id="ffin">{{ value['dateCloture'] | date('d/m/Y') }}</td>
                <td>{{ value['nombreDeParticipant'] }}/{{ value['inscriptionsMax'] }}</td>
                <td>{{ value['state'] }}</td>
                {% if(value['Participation'] == '1' ) %}
                    <td>X</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ value['username']}}</td>
                <td></td>
                <td>{{ value['site']}}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div>
        <a href="{{ path("event_create") }}" class="btn btn-primary">Créer une sortie</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/pageAccueil.js") }}">

    </script>
{% endblock %}
