{%  extends('base.html.twig') %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    <label class="mt-3">Date min :</label>
    <input type="text" class="js-datepicker" name="" id="min">
    <label>Date max :</label>
    <input type="text" class="js-datepicker" name="" id="max">
    {{ form_start(formEvent) }}
    {{ form_end(formEvent) }}
    <br>
    <input type="checkbox" name="" id="organisateur" value="{{app.user.username }}">
    <label>Sortie dont je suis l'organisateur/trice</label>
    <br>
    <input type="checkbox" name="" id="inscrit">
    <label>Sortie auxquelles je suis inscrit/e</label>
    <br>
    <input type="checkbox" name="" id="Ninscrit">
    <label>Sortie auxquelles je ne suis pas inscrit/e</label>
    <br>
    <input type="checkbox" name="" id="passer">
    <label>Finie</label>

    <table id="table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>Nom de la sortie</td>
            <td >Date de la sortie</td>
            <td >Cloture</td>
            <td>inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Action</td>
            <td>Site</td>
        </tr>
        </thead>
        <tbody>
            {% for value in sortie %}
                <tr>
                    <td>{{ value['name'] }}</td>
                    <td>{{ value['dateDebut'] | date('d/m/Y') }}</td>
                    <td>{{ value['dateCloture'] | date('d/m/Y') }}</td>
                    <td>{{ value['nombreDeParticipant'] }}/{{ value['inscriptionsMax'] }}</td>
                    <td>{{ value['state'] }}</td>
                    {% if(value['Participation'] == '1' ) %}
                        <td>X</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ value['username']}}</td>
                    <td></td>
                    <td>{{ value['site']}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <div>
        <a href="{{ path("event_create") }}" class="btn btn-primary">Créer une sortie</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/pageAccueil.js") }}">

    </script>
{% endblock %}
