{% block body %}
    <div class="row">
        <h1>{{ "mail.publish.title"|trans }}</h1>
    </div>
    <div class="row">
        <h3>
            Le nouvel événement <a href="{{ path("event_detail", {"id": event.id}) }}">{{ event.name }}</a>
            a été publié par
            <a href="{{ path("user_by_pseudo", {"pseudo": event.organisator.username}) }}">{{ event.organisator.username }}</a>
        </h3>
    </div>
    <div class="row">
        <a href="{{ path("event_detail", {"id": event.id}) }}" class="btn btn-primary">Allez consulter</a>
    </div>
{% endblock %}