{%  extends('base.html.twig') %}

{% block title %}Prophil | {{ parent() }}{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="title">{{ user.username }}</h1>
        <div class="bg-detail text-left">
        <div class="row">
            <div class="col-md">
                    <span class="font-weight-bold">Nom : </span>
                    <p>{{ user.name }}</p>
                    <span class="font-weight-bold">Prenom : </span>
                    <p>{{ user.firstName }}</p>
                    <span class="font-weight-bold">Télephone : </span>
                    <p>{{ user.phone }}</p>
                    <span class="font-weight-bold">Mail : </span>
                    <p>{{ user.mail }}</p>
                {% if(app.user.username == user.username) %}
                    <a class="btn bgBleu text-light p-0 mb-3" href="{{ path("user_modify") }}">Modifier</a>
                {% endif %}
                </div>
            <div class="col-md">
                <i class="far fa-user font-user" ></i>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
